name: Build Enmity and Inject Rosiecord-apppicon
on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Enmity and Inject Rosiecord-appicon
    runs-on: macos-latest
    steps:
      - name: Actions Status Discord
        uses: sarisia/actions-status-discord@v1.13.0
        if: success()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          nodetail: true
          title: A new version of `Rosiecord-appicon` (aka Special Releases) is ready!
          description: |
            A new version is ready! 
            Version `${{ steps.version.outputs.__DISCORD_VERSION }}`
            Click [here](https://github.com/SerStars/rosiecord-appicon/releases/latest) to download.
          url: https://github.com/SerStars/rosiecord-appicon/releases
          color: 0x000001
